/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

}
@layer base {
    html, body {
        @apply dark:bg-black bg-white text-black dark:text-white
            transition-all duration-300 scroll-smooth
    }
}

.group {
    position: relative;
}

.perspective {
    perspective: 1000px;
}

.backface-hidden {
    backface-visibility: hidden;
}

.remove-scroll-bar::-webkit-scrollbar {
    height: 0;
    /* background: #000; */
}
